.outfit-font-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
body,
form,
div,
input {
    font-family: 'Outfit', 'Trebuchet MS', 'sans-serif', 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.login-container {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.registration-form {
    padding: 20px;

}

.registration-form .form-icon {
    text-align: center;
    font-size: 40px;
    color: #5891ff;
    margin-bottom: 20px;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

body.d-flex.align-items-center.justify-content-center {
    background: rgb(128, 14, 159);
    background: linear-gradient(0deg, rgba(128, 14, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.logo {
    width: 200px;
    height: 200px;
}

.passBtn:first-child {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#passwordButtons {
    max-height: 300px;
}

#homeTitle {
    font-size: 25px;
}

.card-body {
    width: 356px;
    background-color: lightcyan;
}